<%= render 'shared/header' %>
<div class="container">
  フォロー
  <div class="table-responsive">
    <table class="table table-borderless">
      <% @my_follow.each do |follow| %>
        <tr class="follow-list">
          <td>
            <div class="follow-list__image">  
              <%= image_tag follow.followed.image, class: "follow-list-img rounded" %>
            </div>
            <div class="follow-list__name">
              <%= follow.followed.name %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>