<%= render 'shared/header' %>
<%= render 'shared/menu' %>
<div class="container">
  <div class="profile-show">
    <%= render 'shared/profile_show' %>
    <div class="profile-show__message">
      <%= @profile.text %>
    </div>
  </div>
</div>