<h4>あなたを教えてください</h4>

<label for="basic-addon" class="form-label"></label>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">お名前</span>
  <input type="text" class="form-control" placeholder="Your name" aria-label="Username" aria-describedby="basic-addon1">
</div>

<label for="basic-addon" class="form-label"></label>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">お店の名前</span>
  <input type="text" class="form-control" placeholder="Store name" aria-label="Storename" aria-describedby="basic-addon1">
</div>

<label for="basic-url" class="form-label"></label>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3">お店のURL</span>
  <input type="text" class="form-control" placeholder="https://example.com" id="basic-url" aria-describedby="basic-addon3">
</div>

<div class="form-floating">
  <label for="floatingTextarea2"></label>
  <textarea class="form-control" placeholder="ご自由にお書きください" id="floatingTextarea2" style="height: 400px"></textarea>
</div>
