<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <%= link_to "YouMe", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <form class="d-flex">
          <%= search_form_for @search, url: articles_path do |f| %>
            <%= f.search_field :text_cont, class: "form-control me-2", type: "search", placeholder: "キーワードを入力" %>
            <%= button_tag type: 'submit', class: "btn btn-outline-secondary" do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </form>
      </ul>
    </div>
  </div>
</nav>
