<%= render 'shared/header' %>

<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-md-5">
        <div class="article-image">
          <%= image_tag article.image, class: "img-fluid" %>
        </div>
        <p><%= article.title %></p>
        <p><%= article.profile.name %></p>
      </div>
    <% end %>
  </div>
</div>