<div class="like">
  <% if user_signed_in? && (current_user != @article.profile.user) %>
    <% if current_user.already_liked?(@article) %>
      <%= link_to article_likes_path(@article), method: :delete, remote: true do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to article_likes_path(@article), method: :post, remote: true do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
    <%= @article.likes.count%>
  <% end %>
</div>