/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
@media (min-width: 600px) {

  .article {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}