form {
  margin-bottom: 200px;
}

.profile-image{
  display: block;
  background-color: gainsboro;
  width: 180px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}

//ファイルを選択フィールド
// .image_form{
//   display: none;
// }

.fa-images {
  font-size: 80px;
  color: gainsboro;
  margin-left: 55px;
}

// .img-upload {
//   text-align: center;
// }

// .article__form__container {
//     width: 100%;
//     padding-top: 30%;
//     padding-right: 20%;
//     padding-left: 20%;
//     margin-right: auto;
//     margin-left: auto;
// }

// .container {
//   padding: 100px 100px;
// }