* {
  box-sizing: border-box;
}

.container {
  padding: 1rem;
}

.modal-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 200ms linear;
}

.modal.is-open .modal-overlay {
  opacity: 1;
  pointer-events: auto;
}

.modal-container {
  background-color: #fff;
  border-radius: 6px;
  min-width: 300px;
  max-height: 90vh;
  padding: 1.5rem;
  transform: translateY(24px);
  transition: transform 300ms ease-in-out;
  width: 90%;
}

.modal.is-open .modal-container {
  transform: translateY(0);
}

.modal-title {
  border-bottom: 1px solid #dedede;
  font-size: 1.25rem;
  margin: 0 0 1.5rem 0;
  padding-bottom: 0.5rem;
}

.modal-footer {
  margin-top: 1.5rem;
  text-align: right;
}

.button {
  background-color: #71c9ce;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  cursor: pointer;
  line-height: 1;
  outline: 0;
  padding: 0.75rem 1rem;
}