textarea {
  /* textareaの枠線を消す */
  border: 1px solid transparent;
  transition: border 0.2s ease-out;
  background-color: transparent;

  /* 任意の高さ */
  height: 100px;

  /*textareaのフォーカス時の枠線を消す*/
  outline: 0;

  width: 100%;
}