// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  margin-bottom: 35px;
}

.menu {
  //height: 500px;
}

.article {
  &__img  {
    height: 220px;
    overflow: hidden;
    //object-fit: cover;
  }

  &__form__title {
    padding-bottom: 100px;
  }
}

.article-index-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.like {
  color: #808080; 
}

.unlike {
  color: #e54747;
}