// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  margin-bottom: 35px;
}

.menu {
  //height: 500px;
}

//index
.article {
  &__img  {
    height: 220px;
    overflow: hidden;
    //object-fit: cover;
  }

  &__form__title {
    padding-bottom: 100px;
  }
}

.article-index-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

//new
.article-new {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20%;
}

//show
.article-show {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20%;
  // &__container {
  //   width: 40%;
  //   margin-right: auto;
  //   margin-left: auto;
  // }
  &__image {
    //text-align: center;
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__text {
    margin-top: 40px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
.article-show-img {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-show-profile-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  -o-object-fit: cover;
  object-fit: cover;
}

//edit
.article-edit {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20%;

  &__title {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 20%;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.article-edit-img {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// .like {
//   color: #808080; 
// }

// .unlike {
//   color: #e54747;
// }