// Place all the styles related to the gifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hand-heart {
  display:flex;
  flex-flow: column;
}

.fa-hand-holding {
  font-size: 80px;
  margin-top: -7%;
  color: #FEDCBD;
}

.total-amount {
  margin-left: 10px;
  margin-bottom: 50px;
  font-size: 20px;
  display: flex;

  & p {
    margin-left: 30%;
  }
}

.table {
  table-layout: fixed;
}

tr {
  align-items: center !important;
}

.gift-receive {
  &__image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__name {
    margin-left: 3%;
  }
}

.gift-receive-img {
  height: 100%;
  width: 100%;
  text-align: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.gift-give {
  &__image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__name {
    margin-left: 3%;
  }
}

.gift-give-img {
  height: 100%;
  width: 100%;
  text-align: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-show__gift-btn {
  border-color: #71c9ce;
  color: #71c9ce;
}
