// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  display: flex;
  //flex-direction: column;
}

.profile-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    object-fit: cover;
}

  // & img {
  //   max-width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
// }

.article-profile {
  display: flex;
  flex-direction: column;
}

.profile-show-img {
  text-align: center;
}

// .follow-list {
//   text-align: center;
// }

// .follower-list {
//   text-align: center;
// }

.profile-follow-list {
  text-align: center;
}

.profile-article-img {
  margin-top: 20px;
  height: 280px;
  object-fit: cover;
}